.item {
  display: flex;
  cursor: pointer;
  width: 290px;
  transition: .3s;
  margin-right: 15px;
  margin-top: 15px;

  &:hover {
    transform: scale(1.05);
  }

  &_margin {
    margin-top: 10px;
  }

  &_thumbnail {
    width: 150px;
    height: 150px;
  }

  // &_disabled {
  //   cursor: not-allowed;
  // }

  &_body {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_title {
      font-size: 18px;
      color: #fff;
      line-height: 22px;
      font-weight: 900;
      margin-top: 10px;
    }

    &_subtitle {
      font-size: 14px;
      color: #fff;
      line-height: 15px;
      margin-top: 10px;
    }
  }
}