.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tabs {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 20px;
  border-bottom: 2px solid #eee;

  li {
    cursor: pointer;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .7);
  }
}